body {
  margin: 0;
  background: #d8d2d2;
  font-family: Noto Sans, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  padding: 10px;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: 'Anton';
}

header input {
  font-size: 20px;
  margin: 20px 0;
}